#!/usr/bin/make -f
# Copyright 2026 Elektrobit. All rights reserved.

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake --builddirectory=debian/build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_COMMON=OFF \
		-DBUILD_SIGNAL=ON \
		-DCMAKE_CXX_FLAGS="-I/usr/include/yoriito" \
		-DCMAKE_EXE_LINKER_FLAGS="-L/usr/lib/yoriito" \
		-DCMAKE_SHARED_LINKER_FLAGS="-L/usr/lib/yoriito"
