# Copyright 2026 Elektrobit. All rights reserved.

# nftables backend for iptables-nft (default on Debian trixie)
CONFIG_NF_TABLES=y
CONFIG_NFT_COMPAT=y
CONFIG_NFT_CT=y
CONFIG_NFT_COUNTER=y
CONFIG_NFT_NAT=y
CONFIG_NFT_REJECT=y

# Enable the SYNPROXY netfilter target for the nftables backend
CONFIG_NFT_SYNPROXY=y
CONFIG_SYN_COOKIES=y
